[Unit]
Description=Spark Web App
After=network.target

[Service]
# Substitua <SEU_USUARIO> e <SEU_GRUPO> pelo usuário e grupo que irão rodar a aplicação
User=<SEU_USUARIO>
Group=<SEU_GRUPO>

# Substitua /path/para/seu/projeto pelo caminho absoluto do projeto
WorkingDirectory=/path/para/seu/projeto
ExecStart=/path/para/seu/projeto/start.sh

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
